<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8"/>
<title>Login</title>
<link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&family=Oxygen&display=swap" rel="stylesheet">
<!--    Materialize Framework-->
<link type="text/css" rel="stylesheet" th:href="@{/css/materialize.css}" media="screen,projection"/>
<!--    Icons-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--    Responsive Tag-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!--    Custom CSS Files-->
<link th:href="@{/css/login-page.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/register.css}" rel="stylesheet" type="text/css">

</head>
<body>

<div id="register-form">
    <div th:replace="partials/navbar :: navbar"></div>
    <ul th:replace="partials/navbar :: navbar-small"></ul>
    <h1 class="center-align join-header show-on-large hide-on-med-and-down">Login</h1>
    <div id="form-container" class="center-align">
        <div id="logout-text" class="center-align flicker-fast" th:if="${param.logout}">
            You have logged out.
        </div>
        <div id="login-warning-text" class="text-center flicker-fast" th:if="${param.error}">
            Invalid Username or Password.
        </div>
        <div class="center-align" id="join-form">
            <div class="form-popup form-popup-large" id="login-form">
                <form th:action="@{/login}" method="post" class="form-container center-align">

                    <label for="email"><b class="forms">Username</b></label>
                    <input type="text" placeholder="Enter username" name="username" required>

                    <label for="password"><b class="forms">Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>

                    <button type="submit" class="button-style btn grey darken-4 waves-effect waves-light btn-large">Login</button>

                </form>
            </div>
            </form>
        </div>
    </div>

    <script th:src="@{http://code.jquery.com/jquery-1.10.2.js}">
    </script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script th:src="@{/JS/materialize.js}"></script>
    <script th:src="@{/JS/index.js}"></script>
</body>
</html>


