<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8"/>
<title>Join</title>
<link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&family=Oxygen&display=swap" rel="stylesheet">
<!--    Materialize Framework-->
<link type="text/css" rel="stylesheet" th:href="@{/css/materialize.css}" media="screen,projection"/>
<!--    Icons-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--    Responsive Tag-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!--    Custom CSS Files-->
<link th:href="@{/css/register.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<ul th:replace="partials/navbar :: navbar-small"></ul>
<div id="register-form">
    <h1 class="center-align join-header show-on-large hide-on-med-and-down">Create an account</h1>
    <div id="form-container" class="center-align">
        <div class="center-align" id="join-form">
            <form th:action="@{/register}" method="POST" th:object="${user}" class="form-container">

                <div th:if="${#fields.hasErrors('*')}">
                    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                </div>

                <label for="first-name"><b class="forms">First Name</b></label>
                <input type="text" placeholder="Enter first name" th:field="*{firstName}" required>

                <label for="last-name"><b class="forms">Last Name</b></label>
                <input type="text" placeholder="Enter last name" th:field="*{lastName}" required>

                <label for="username"><b class="forms">Username</b></label>
                <input type="text" placeholder="Enter username" th:field="*{username}" required>

                <label for="email"><b class="forms">Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" th:field="*{email}" required>

                <label for="password"><b class="forms">Password</b></label>
                <input type="password" placeholder="8 characters, one uppercase letter, and digit" name="password" th:field="*{password}" required>

                <label for="upload"></label>
                <button class="button-style btn blue-grey darken-4 waves-effect waves-light btn-large" id="upload" type="button"
                        name="upload">
                    Upload Photo
                </button>
                <input id="stashFilestackURL" name="stashFilestackURL" value="replace" th:field="*{userImage}"
                       type="hidden">

                <button type="submit" id="submit" class="button-style btn blue-grey darken-4 waves-effect waves-light btn-large">Join</button>
            </form>
        </div>
    </div>
</div>
<script th:src="@{http://code.jquery.com/jquery-1.10.2.js}">
</script>
<script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script th:src="@{/JS/materialize.js}"></script>
<script th:src="@{/JS/index.js}"></script>
<script th:inline="javascript">
    const options = {
        onUploadDone:
            function (res) {
                $("#stashFilestackURL").val(res.filesUploaded[0].url);
            }
    }
    let apiKey = [[${apiKey}]]
    const client = filestack.init(apiKey);

    $("#upload").click(function () {
        client.picker(options).open()
    });
</script>
</body>
</html>