<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Hobbyist')">
    <meta charset="UTF-8"/>

</head>
<body>


<!--<div th:each ="user :${users}" sec:authorize ="!isAnonymous()">-->
<!--<a th:href="@{/profile/{username}(username=${user.username})}"><button>Profile</button></a>-->
<!--</div>-->


<!--    if authenticated-->
<!--<div sec:authorize ="isAuthenticated()" >-->
<!--    <a th:href="${'/profile/' + user.id}">-->
<!--        <button class="btn btn-outline-info">Profile</button>-->
<!--    </a>-->
<!--</div>-->

<!--  test search engine  -->
<!--    Search:-->
<!--    <form action="/search">-->
<!--        <input type="text" name="term" placeholder="Search Hobby">-->
<!--        <button>Search</button>-->
<!--    </form>-->


<!--  template to grab info from db -->
<!--<div th:each="c : ${c1}">-->
<!--    <h1 th:text="${c.title}"></h1>-->
<!--    <p th:text="${c.description}"></p>-->
<!--    <h1 th:text="${c.approved}"></h1>-->
<!--    <h1 th:text="${c.category.name}"></h1>-->
<!--    <p th:text="${c.createdBy.username}"></p>-->
<!--    <p th:text="${c.createdBy.admin}"></p>-->
<!--</div>-->



<!--    RESPONSIVE NAVEBAR-->

<div class="navbar-fixed">
    <nav class="nav">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo black-text"><i class="material-icons right black-text">donut_large</i>Hobbyist</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="" class="black-text"><i class="material-icons left black-text">account_circle</i>Profile</a>
                </li>
                <li><a href="" class="black-text"><i class="material-icons left black-text">view_column</i>Hobby
                    Tracker</a></li>
                <li><a href="" class="black-text"><i class="material-icons left black-text">wifi_tethering</i>About
                    Us</a></li>
            </ul>
        </div>
    </nav>
</div>
<ul class="sidenav" id="mobile-demo">
    <li><a href="" class="black-text"><i class="material-icons left black-text">account_circle</i>Profile</a>
    </li>
    <li><a href="" class="black-text"><i class="material-icons left black-text">view_column</i>Hobby
        Tracker</a></li>
    <li><a href="" class="black-text"><i class="material-icons left black-text">wifi_tethering</i>About
        Us</a></li>
</ul>

<!--Small M and S and XS Site-->

<div id="main-container-small" class="show-on-medium-and-down hide-on-large-only">
    <div id="above-fold-small">


        <div id="small-title-container">
            <h1 id="main-title-small" class="center-align">Hobbyist</h1>
        </div>


        <!--Small Buttons Section-->
        <div id="small-main-buttons" class="center-align">
            <button class="btn grey darken-4 waves-effect waves-light btn-large open-button" onclick="openLoginForm()"
                    type="submit" name="action">Login
            </button>
            <a th:href="${'/register'}"><button class="btn grey darken-4 waves-effect waves-light btn-large open-button"
                    type="submit" name="action">Join
            </button></a>
        </div>

        <!--        Small Form-->
        <div class="form-popup form-popup" id="small-login-form">
            <form th:action="@{/login}" method="post" class="small-login-form-container center-align">
                <h3 id="small-login-header">Login</h3>

                <label for="email"><b class="forms">Username</b></label>
                <input type="text" placeholder="Enter username" name="username" required>

                <label for="password"><b class="forms">Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <button type="submit" class="btn grey darken-4 waves-effect waves-light btn-large">Login</button>
                <button type="button" class="btn cancel grey darken-4 waves-effect waves-light btn-large"
                        onclick="closeLargeLoginForm()">Close
                </button>
            </form>
        </div>
    </div>
</div>


<!--Desktop L and XL Site-->
<div id="main-container-large" class="show-on-large hide-on-med-and-down">
    <div id="above-fold-large">

        <h1 id="main-title-large">Hobbyist</h1>

        <div id="large-main-buttons" class="center-align">
            <button class="btn grey darken-4 waves-effect waves-light btn-large open-button"
                    onclick="openLargeLoginForm()" type="submit" name="action">Login
            </button>
            <a th:href="${'/register'}">  <button class="btn grey darken-4 waves-effect waves-light btn-large open-button"
                    type="submit" name="action">Join
            </button></a>
        </div>

        <div class="form-popup form-popup-large" id="large-login-form">
            <form th:action="@{/login}" method="post" class="login-form-container center-align">
                <h3 id="large-login-header">Login</h3>

                <label for="email"><b class="forms">Username</b></label>
                <input type="text" placeholder="Enter username" name="username" required>

                <label for="password"><b class="forms">Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <button type="submit" class="btn grey darken-4 waves-effect waves-light btn-large">Login</button>
                <button type="button" class="btn cancel grey darken-4 waves-effect waves-light btn-large"
                        onclick="closeLargeLoginForm()">Close
                </button>
            </form>
        </div>
    </div>
</div>

<!--<div class="live__scroll">-->
<!--    <div class="row text-center ml-1">-->
<!--        <div class="col s11 m5 live__scroll&#45;&#45;box" th:each="c : ${c1}">-->
<!--            &lt;!&ndash;            PUT CARD CODE HERE&ndash;&gt;-->
<!--            <div class="card">-->
<!--                <div class="card-image">-->
<!--                    <img th:src="@{/img/tools.jpg}">-->
<!--                    <span class="card-title" th:text="${c.title}">Card Title</span>-->
<!--                    <a class="btn-floating halfway-fab waves-effect red"><i class="material-icons">favorite_border</i></a>-->
<!--                </div>-->
<!--                <div class="card-content">-->
<!--                    <p th:text="${c.description}"></p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="live__scroll">-->
<!--    <div class="row text-center ml-1">-->
<!--        <div class="col s11 m5 live__scroll&#45;&#45;box" th:each="c : ${c2}">-->
<!--            &lt;!&ndash;            PUT CARD CODE HERE&ndash;&gt;-->
<!--            <div class="card">-->
<!--                <div class="card-image">-->
<!--                    <img th:src="@{/img/tools.jpg}">-->
<!--                    <span class="card-title" th:text="${c.title}">Card Title</span>-->
<!--                    <a class="btn-floating halfway-fab waves-effect red"><i class="material-icons">favorite_border</i></a>-->
<!--                </div>-->
<!--                <div class="card-content">-->
<!--                    <p th:text="${c.description}"></p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->



<!--&lt;!&ndash;Javascript&ndash;&gt;-->


<!--<div class="live__scroll">-->
<!--    <div class="row text-center ml-1">-->
<!--        <div class="col s11 m5 live__scroll&#45;&#45;box" th:each="c : ${c3}">-->
<!--            &lt;!&ndash;            PUT CARD CODE HERE&ndash;&gt;-->
<!--            <div class="card">-->
<!--                <div class="card-image">-->
<!--                    <img th:src="@{/img/tools.jpg}">-->
<!--                    <span class="card-title" th:text="${c.title}">Card Title</span>-->
<!--                    <a class="btn-floating halfway-fab waves-effect red"><i class="material-icons">favorite_border</i></a>-->
<!--                </div>-->
<!--                <div class="card-content">-->
<!--                    <p th:text="${c.description}"></p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<script th:src="@{/JS/materialize.js}">
    M.AutoInit();
</script>
<script th:src="@{/JS/index.js}"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
</body>
</html>