<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Profile</title>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&display=swap" rel="stylesheet">
    <!--    Materialize Framework-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.css}" media="screen,projection"/>
    <!--    Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--    Responsive Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--    Custom CSS Files-->
    <link th:href="@{/css/edit.css}" rel="stylesheet" type="text/css">
</head>
<body>

<div>
    <form th:action="${'/users/' + user.id + '/edit'}" th:method="POST" th:object="${user}">


       <input type="text" th:field="*{firstName}" th:value="*{firstName}"/>
        <label for="first name">first name</label>
<!--        <p class="card-panel red darken-1" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></p>-->

        <input type="text" th:field="*{lastName}" th:value="*{lastName}"/>
        <label for="first name">last name </label>
        <!--        <p class="card-panel red darken-1" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></p>-->

        <input type="text" th:field="*{username}" th:value="*{username}"/>
        <label for="username">username</label>
        <!--        <p class="card-panel red darken-1" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></p>-->

        <input type="text" th:field="*{email}">
        <label for="email"> email</label>
<!--        <p class="card-panel red darken-1" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>-->


        <input type="password" class="form-control" th:field="*{password}" />
        <label for="password">password</label>
<!--        <p class="card-panel red lighten-1" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>-->

        <button>Submit</button>
    </form>
</div>

</body>
</html>