<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Profile</title>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&family=Oxygen&display=swap" rel="stylesheet">
    <!--    Materialize Framework-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.css}" media="screen,projection"/>
    <!--    Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--    Responsive Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--    Custom CSS Files-->
    <link th:href="@{/css/edit.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<ul th:replace="partials/navbar :: navbar-small"></ul>

<h1 id="profile-edit-header" class="center-align show-on-large hide-on-med-and-down">Update Account</h1>
<div class="center-align" id="update-profile-form">
    <form th:action="${'/users/' + user.id + '/edit'}" class="edit-form-container" th:method="POST" th:object="${user}">

        <!--    <div th:if="${#fields.hasErrors('*')}">-->
        <!--        <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>-->
        <!--    </div>-->

        <label for="first-name"><b class="edit-forms">First Name</b></label>
        <input type="text" placeholder="Enter first name" th:field="*{firstName}" required>

        <label for="last-name"><b class="edit-forms">Last Name</b></label>
        <input type="text" placeholder="Enter last name" th:field="*{lastName}" required>

        <label for="username"><b class="edit-forms">Username</b></label>
        <input type="text" placeholder="Enter username" th:field="*{username}" required>

        <label for="email"><b class="edit-forms">Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" th:field="*{email}" required>

        <label for="password"><b class="edit-forms">Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" th:field="*{password}" required>

        <label for="upload"></label>
        <button class="btn grey darken-4 waves-effect waves-light btn-large" id="upload" type="button" name="upload">
            Edit Image
        </button>
        <input id="stashFilestackURL" name="stashFilestackURL" value="replace" th:field="*{userImage}" type="hidden">

        <button type="submit" class="btn grey darken-4 waves-effect waves-light btn-large">Update Profile</button>
    </form>
</div>
<script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:inline="javascript">
    const options = {
        onUploadDone:
            function (res) {
                $("#stashFilestackURL").val(res.filesUploaded[0].url);
            }
    }
    let apiKey = [[${apiKey}]]
    const client = filestack.init(apiKey);

    $("#upload").click(function () {
        client.picker(options).open()
    });
</script>
</body>
</html>