<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p> currentUser : <span th:text="${currentUser.username}"></span></p>
<p> userInDB : <span th:text="${userInDb.username}"></span></p>

<!--<div th:each="hobby : ${listOfHobbies}">-->
<!--    <p>Hobby title: <span th:text="${hobby.getTitle()}"></span></p>-->
<!--    <p>Hobby Status : <span th:if="${}"></span></p>-->
<!--&lt;!&ndash;    <p>Hobby status: <span th:text="${hobbyStatus}"></span></p>&ndash;&gt;-->
<!--    <p>Hobby Id: <span th:text="${hobby.getId()}"></span></p>-->
<!--</div>-->

<!--<div>-->
<!--    <p th:text="${firstHobby}"></p>-->
<!--</div>-->



</body>
</html>