<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:each="userHobby : ${userHobbyList}">
    <p>Hobby Status: <span th:text="${userHobby.status}"></span></p>
    <p>Hobby Title: <span th:text="${userHobby.hobby.getTitle()}"></span></p>
</div>

<table id="interested">
    <tr>
        <th>Hobby Name</th>
        <th>Hobby Status</th>
    </tr>
    <tr th:block th:each="userHobby : ${userHobbyList}">
        <td th:if ="${#strings.endsWith(userHobby.status, 'TED')}" th:text="${userHobby.hobby.getTitle()}"></td>
        <td th:text="${userHobby.status}" th:if ="${#strings.endsWith(userHobby.status, 'TED')}">INTERESTED</td>
    </tr>
</table>

<table id="TRIED_IT">
    <tr>
        <th>Hobby Name</th>
        <th>Hobby Status</th>
    </tr>
    <tr th:block th:each="userHobby : ${userHobbyList}">
        <td th:if ="${#strings.endsWith(userHobby.status, 'IT')}" th:text="${userHobby.hobby.getTitle()}"></td>
        <td th:text="${userHobby.status}" th:if ="${#strings.endsWith(userHobby.status, 'IT')}">TRIED IT/td>
    </tr>
</table>

<table id="HOBBYIST">
    <tr>
        <th>Hobby Name</th>
        <th>Hobby Status</th>
    </tr>
    <tr th:block th:each="userHobby : ${userHobbyList}">
        <td th:if ="${#strings.endsWith(userHobby.status, 'IST')}" th:text="${userHobby.hobby.getTitle()}"></td>
        <td th:text="${userHobby.status}" th:if ="${#strings.endsWith(userHobby.status, 'IST')}">HOBBYIST</td>
    </tr>
</table>









</body>
</html>