<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h1>Profile</h1>
<!--<div th:each="userHobby : ${userHobbyList}">-->
<!--    <p th:if="${#strings.endsWith(userHobby.status, 'IST')}" th:text="${userHobby.hobby.getTitle()}"></p>-->
<!--    <p th:text="${userHobby.status}" th:if="${#strings.endsWith(userHobby.status, 'IST')}">HOBBYIST</p>-->
<!--</div>-->

<!--<p> username: <span th:text="${user.username}"></span></p>-->
<!--<p> email: <span th:text="${user.email}"></span></p>-->
<!--<p> first name: <span th:text="${user.firstName}"></span></p>-->
<!--<p> last name: <span th:text="${user.lastName}"></span></p>-->
<!--<p>admin? : <span th:text="${user.admin}"></span></p>-->
<!--<p>current  user : <span th:text="${userName}"></span></p>-->


<!--&lt;!&ndash;need help&ndash;&gt;-->
<!--<div th:if="${user.getUsername() == userName }">-->
<!--&lt;!&ndash;<div th:if="${userName == user.isAdmin()}">&ndash;&gt;-->
<!--&lt;!&ndash;<div th:block th:if ="${!user.admin}">&ndash;&gt;-->

<!--    <form th:action="@{|/users/${user.id}/edit|}" th:method="GET" th:object="${user}">-->
<!--        <input type="hidden" name="id" th:value="${user.getId()}">-->
<!--        <button class="btn btn-outline-info"> Edit</button>-->
<!--    </form>-->
<!--</div>-->
<div th:each="hobby: ${hobbies}">
    <ul th:if="${hobby.createdBy.username == userNameHobby}">
        <li th:text="${hobby.title}"></li>
        <li th:text="${hobby.createdBy.username}"></li>
    </ul>
</div>


</body>
</html>