<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h1>Profile</h1>


<p> username: <span th:text="${user.username}"></span></p>
<p> email: <span th:text="${user.email}"></span></p>
<p> first name: <span th:text="${user.firstName}"></span></p>
<p> last name: <span th:text="${user.lastName}"></span></p>

<form th:action="@{|/users/${user.id}/edit|}" th:method="get" th:object="${user}">
    <input type="hidden" name="id" th:value="${user.getId()}">
    <button class="btn btn-outline-info"> Edit</button>
</form>


</body>
</html>