<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8"/>-->
<!--    <title>Edit Profile</title>-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&display=swap" rel="stylesheet">-->
<!--    &lt;!&ndash;    Materialize Framework&ndash;&gt;-->
<!--    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.css}" media="screen,projection"/>-->
<!--    &lt;!&ndash;    Icons&ndash;&gt;-->
<!--    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
<!--    &lt;!&ndash;    Responsive Tag&ndash;&gt;-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
<!--    &lt;!&ndash;    Custom CSS Files&ndash;&gt;-->
<!--    <link th:href="@{/css/edit.css}" rel="stylesheet" type="text/css">-->
<!--</head>-->
<!--<body>-->
<!--<div th:replace="partials/navbar :: navbar"></div>-->
<!--<ul th:replace="partials/navbar :: navbar-small"></ul>-->

<!--<h1 id="profile-edit-header" class="center-align">Update Image</h1>-->
<!--<div class="center-align" id="update-profile-form">-->
<!--    <form th:action="${'/users/' + user.id + '/upload'}" class="edit-form-container" th:method="POST" th:object="${user}">-->

<!--        <label for="upload"></label>-->
<!--        <button class="btn grey darken-4 waves-effect waves-light btn-large" id="upload" type="button" name="upload">Edit Image</button>-->
<!--        <input id="stashFilestackURL" name="stashFilestackURL" value="replace" th:field="*{userImage}" type="text">-->

<!--        <br>-->

<!--        <button type="submit" class="btn grey darken-4 waves-effect waves-light btn-large">Save</button>-->
<!--    </form>-->
<!--</div>-->
<!--<script-->
<!--        src="https://code.jquery.com/jquery-3.5.1.js"-->
<!--        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>-->
<!--<script th:inline="javascript" th:fragment="filestack">-->
<!--    const options = {-->
<!--        onUploadDone:-->
<!--            function (res) {-->
<!--                $("#stashFilestackURL").val(res.filesUploaded[0].url);-->
<!--            }-->
<!--    }-->
<!--    let apiKey = [[${apiKey}]]-->
<!--    const client = filestack.init(apiKey);-->

<!--    $("#upload").click(function () {-->
<!--        client.picker(options).open()-->
<!--    });-->
<!--</script>-->
<!--</body>-->
<!--</html>-->