body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: floralwhite;

}

/*Small About Us*/

#small-team-header {
    font-family: 'Bungee Shade', cursive;
    size: 8vw;
    color: #af1112;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.large-team-header {
    font-family: 'Bungee Shade', cursive;
    font-size: 7em;
    color: #af1112;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.icons {
    margin: 10px;
    color: floralwhite;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

}

.small-names {
    color: black;
    font-family: 'Bungee Shade', cursive;
    font-size: 8vw;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

}
#small-about-us {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;

}

#small-team-members {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 75vw;
    margin-left: 12%;
    margin-right: 10%;

}

#person1-small, #person2-small, #person3-small, #person4-small {
    width: 70vw;
    border: 5px solid #f2a22c;
    border-radius: 5px;
    margin: 0px 10px 10px 10px;
    background-color: #eceff1;


}

.small-photo {
    width: 60vw;
    height: auto;
    border-radius: 10px;
    margin: 10px;

}

#small-logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#small-logo {
    width: 150px;
    height: 150px;

}


/*Large About Us*/

.icons {
    margin: 10px;
    color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

}

.names {
    color: black;
    font-family: 'Bungee', cursive;
    font-size: 2.25vw;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#large-about-us {
    width: 100%;
    height: 100%;

}

#large-team-members {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;

}

#person1, #person2, #person3, #person4 {
    width: 22vw;
    /*height: 100vh;*/
    border: 5px solid #f2a22c;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
    background-color: white;

}

.large-photo {
    width: 18vw;
    height: auto;
    border-radius: 10px;
    padding: 10px;

}

#large-logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#large-logo {
    width: 10vw;
    height: auto;
    margin: 30px;


}