* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: bolder;
}


#HCB_comment_form_box {
    font-family: 'oxygen', cursive;

}
#HCB_comment_box {
    width: 100%;
    /*border: 2px solid black;*/
    background-color: rgba(207, 216, 220, 0.7);
    /*background-color: white;*/
}

#hcb_form_name {
    width: 99%;
    padding-right: 20px;
}

#hcb_form_content {
    width: 100%;
    margin: 0;
    color: #263238;
}

.hcb_shadow_m {
    margin: 0!important;
}


h3 {
    /*font-family: 'Bungee Shade', cursive;*/
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);*/
    /*font-size: 3vw;*/
    /*text-align: center;*/
    /*margin: 10px 10px 10px 0;*/
    display: none;
}

blockquote:nth-child(1) {
    width: 90vw;
    height: auto;

}

.btn, .submit-btn, #hcb_submit {
    /*background-color: black;*/
    /*color: white;*/
    font-family: 'Bungee Shade', cursive;


}

#no_comments {
    font-family: 'Oxygen', sans-serif;
}

.home-desc{
    color: #263238;
    font-family: 'Oxygen', sans-serif;
    padding-top: 7px;
    /*display: none;*/
}
#HCB_comment_box .btn:first-child {
    /*background-color: black!important;*/
    /*color: white!important;*/
    border-color: #263238;
    padding-bottom: 0!important;
}
input {
    /*background-color: black;*/
    /*color: white;*/
}

#hcb_msg {
    font-family: 'Oxygen', sans-serif;
    /*color: black;*/
}

#HCB_comment_box input, #HCB_comment_box input.btn, #HCB_comment_box select, #HCB_comment_box textarea {
    font-family: 'Oxygen', sans-serif;
}

#HCB_comment_box .help-inline, #HCB_comment_box .btn {
    /*color: white;*/
    /*background-color: black;*/
    font-family: 'Oxygen', sans-serif;
}


#HCB_comment_box .uneditable-textarea, #HCB_comment_box input[type=button], #HCB_comment_box input[type=reset], #HCB_comment_box input[type=submit] {
    height: 36px!important;
    width: 122px!important;
    padding: 0 10px 0 10px!important;
    font-family: 'Oxygen', sans-serif;
    /*color: white!important;*/
    /*background-color: black!important;*/

}

#HCB_comment_box .btn {
    padding-top: 8px!important;
}

#HCB_comment_box blockquote{
    background-color: white;
    border-radius: 2px;
    margin: 10px 0 10px 0 !important;
}

a {
    color: #263238;
}
