#error-container, #errror-container-500 {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("/../img/desk-min.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /*overflow-y: hidden;*/
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Bungee', cursive;
    font-size: 3em;
    color: rgba(175, 17, 18, 0.9);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);

}
