* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

html {
    width: 100vw;
    height: 100%;
}

/*Small M and S and XS Site*/

#main-container-small {
    width: 100vw;
}
/*Index - Above the fold*/

#above-fold-small {
    height: 100vh;
    width: 100vw;
    background-image: url("/../img/desk-min.jpg");
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Bungee Shade', cursive;
    overflow-y: scroll;
}

#main-title-small {
    font-size: 15vw;
    color: rgba(175, 17, 18, 0.9);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    font-family: 'Bungee Shade', cursive;
    margin-top: 60px;

}

/*Desktop L and XL Site*/

#main-container-large {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;

}
/*Index - Above the fold*/

#above-fold-large  {
    height: 100vh;
    width: 100vw;
    background-image: url("/../img/desk-min.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Bungee Shade', cursive;
    overflow-y: hidden;

}


#main-title-large {
    font-size: 10vw;
    color: rgba(175, 17, 18, 0.9);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    font-family: 'Bungee Shade', cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 15%;
    right: 10%;
    margin: 20px;
}

#about-site {
    font-family: 'Bungee', cursive;
    position: absolute;
    display: inline-block;
    color: #263238;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    margin:10px;
    width: 40vw;
    bottom: 28%;
    left: 32%;
    font-size: 2em;

}

.nav{
    background: rgba(255,255,255,0.5);
}

#large-main-buttons {
    position: absolute;
    top: 50%;
    left: 75%;
    display: block;
    margin: 20px;
}

.login-button {
}

#large-hobbies-button, #small-hobbies-button {
    margin-top: 5px;
}

.forms {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5em;
    color: black;
}
/*#description {*/
/*    width: 25vw;*/
/*    font-size: 3em;*/
/*    color: rgba(0, 0, 0, 0.8);*/
/*    position: absolute;*/
/*    top: 24%;*/
/*    right: 20%;*/

/*}*/

/*Small Login and Join Forms*/

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 900;
    background-color: rgba(255, 255, 255, 100);
    color: black;
    font-family: 'Bungee', cursive;
    font-size: 1.5em;
}

.form-popup-large {
    margin:10px;
    width: 40vw;
    bottom: 50px;
    left: 30%;
}

.form-container {
    padding: 10px;
    background-color: rgba(255, 255, 255, 100);
}

.login-form-container {
    padding: 10px;
    width: 40vw;
    background-color: rgba(255, 255, 255, 100);
    border: 3px solid #f1f1f1;
}

.small-login-form-container {
    padding: 10px;
    width: 100vw;
    background-color: rgba(255, 255, 255, 100);
    border: 3px solid #f1f1f1;
}


.small-form-container {
    max-width: 100vw;
    width: 100vw;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 3px solid #f1f1f1;
    alignment: center;

}

#large-login-form {
    width: 30vw;
}

#small-login-header, #large-login-header {
    margin: 5px;
    font-size: 2.5em;
    font-family: 'Bungee', cursive;
    color: #263238;

}

.button-style {
    font-family: 'Oxygen', sans-serif;
    color: white;
    /*background-color: black!important;*/
}

#edit-button, #delete-button {
    font-family: 'Oxygen', sans-serif;
    margin: 0 10px 10px 0;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#card-content {
    font-family: 'Bungee', cursive;
    color: black;
}

p, th, td {
    font-family: 'Bungee', cursive;
    color: black;
}
#single-hobby-container {
    /*height: 100vh;*/
    width: 100vw;
    background-image: url("/../img/desk-min.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /*font-family: 'oxygen', cursive;*/
    font-weight: bolder;
    overflow-y: scroll;
}

.card-title {
    font-family: 'Bungee', cursive;
    font-size: 1.5em;
}


.card-image img {
    width:  817px;
    height: 545px;
    object-fit: cover;
}

p, th, td {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5em;
}