* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

html {
    width: 100vw;
}

/*Small M and S and XS Site*/

#main-container-small {
    width: 100vw;
}
/*Index - Above the fold*/

#above-fold-small {
    height: 100vh;
    width: 100vw;
    background-image: url("/../img/desk.jpg");
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Bungee Shade', cursive;
    overflow-y: scroll;
}

#main-title-small {
    font-size: 15vw;
    color: rgba(146, 9, 18, 0.9);
    font-family: 'Bungee Shade', cursive;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-top: 60px;

}




/*Desktop L and XL Site*/

#main-container-large {
    width: 100%;
    overflow-y: hidden;
}
/*Index - Above the fold*/

#above-fold-large {
    height: 100vh;
    width: 100vw;
    background-image: url("/../img/desk.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Bungee Shade', cursive;
    overflow-y: scroll;
}


#main-title-large {
    font-size: 10vw;
    color: rgba(146, 9, 18, 0.9);
    font-family: 'Bungee Shade', cursive;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 15%;
    right: 10%;
    margin: 20px;
}

.nav{
    background: rgba(255,255,255,0.5);
}

#large-main-buttons {
    position: absolute;
    top: 50%;
    left: 75%;
    display: block;
    margin: 20px;
}

.forms {
    font-size: 1.5em;
    color: black;
}
/*#description {*/
/*    width: 25vw;*/
/*    font-size: 3em;*/
/*    color: rgba(0, 0, 0, 0.8);*/
/*    position: absolute;*/
/*    top: 24%;*/
/*    right: 20%;*/

/*}*/

/*Small Login and Join Forms*/

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 900;
    background-color: rgba(255, 255, 255, 100);
    color: black;
    font-family: 'Bungee', cursive;
    font-size: 1.5em;
}

.form-popup-large {
    margin:10px;
    width: 40vw;
    bottom: 50px;
    left: 30%;
}

.form-container {
    padding: 10px;
    background-color: rgba(255, 255, 255, 100);
}

.login-form-container {
    padding: 10px;
    width: 40vw;
    background-color: rgba(255, 255, 255, 100);
    border: 3px solid #f1f1f1;
}

.small-login-form-container {
    padding: 10px;
    width: 100vw;
    background-color: rgba(255, 255, 255, 100);
    border: 3px solid #f1f1f1;
}


.small-form-container {
    max-width: 100vw;
    width: 100vw;
    padding: 10px;
    background-color: rgba(255, 255, 255, 100);
    border: 3px solid #f1f1f1;
    alignment: center;

}

#large-login-form {
    width: 30vw;
}

#small-login-header, #large-login-header {
    margin: 5px;
    font-size: 2.5em;
    font-family: 'Bungee', cursive;
}

/*Scroll Window*/

.live__scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.live__scroll .row{
    display:block;
}
.live__scroll .live__scroll--box {
    display: inline-block;
    float: none;
    padding: 15px;
}

