* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

html {
    width: 100vw;
}

/*Small M and S and XS Site*/

/*Small Index - Above the fold*/

#profile-container-small {
    height: 100vh;
    width: 100vw;
    background-image: url("/../img/desk.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Bungee Shade', cursive;
    overflow-y: scroll;
}

#small-profile-header, #small-friends-header, #small-hobbies-header {
    font-size: 4em;
    color: rgba(146, 9, 18, 0.9);
    font-family: 'Bungee Shade', cursive;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-top: 20px;

}

#small-upload-button {
    margin-bottom: 15px;
}

.small-photo {
    width: 70vw;
    height: auto;
    border-radius: 50px;
}

/*Hobbies*/

.small-badge{
    width: 100px;
    height: auto;
}

#small-badge-list, #small-site-badge-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


/*Small Friends List*/


    /*Large and XL Site*/
#profile-container-small {
    width: 100vw;
}

/*Large Index - Above the fold*/

#profile-container-large {
    height: 100vh !important;
    width: 100vw;
}

.button-style {
    font-family: 'Bungee', cursive;
    color: white;
}

#profile-navbar-placeholder-large {
    width: 100vw;
    height: 8vh;
    position: fixed;
    display: block;
    z-index: 1000;
    background-color: #212121;
    font-family: 'Bungee Shade', cursive;
    color: white;
    font-size: 2em;
}


#profile-navbar-list-large {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

#profile-panels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#profile-above-fold-large {
    height: 100vh;
    width: 100vw;
    display: block;
    background-image: url("/../img/desk.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Bungee Shade', cursive;
    overflow-y: scroll;
}

#large-profile-header, #large-friends-header, #large-hobbies-header {
    font-size: 4em;
    color: rgba(146, 9, 18, 0.9);
    font-family: 'Bungee Shade', cursive;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-top: 2vh;

}

.large-photo {
    width: 20vw;
    height: auto;
    border-radius: 50%;
}

.large-profile-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;

}

#upload-button {
    margin-right: 10px;

}

#left-div, #middle-div, #right-div {
    width: 30vw;
    height: 100vh;
}


/*Hobbies*/

.large-badge {
    width: 100px;
    height: auto;
}

#large-badge-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: scroll;
    margin: 0!important;
    font-family: 'Bungee', cursive;
    font-size: 1.5em;

}

ul {
    margin: 0!important;
}

p {
    color: black!important;
}

#large-created-hobbies-header, #small-created-hobbies-header {
    font-size: 2em;
    font-family: 'Bungee Shade', cursive;
    color: black;

}
#large-created-hobbies, #small-created-hobbies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: scroll;
    font-size: 1.5em;
    font-family: 'Bungee', cursive;

}

.large-hobbies-list, .small-hobbies-list {
    list-style: none;
    font-family: 'Bungee', cursive;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.large-hobbies-list > a, .small-hobbies-list > a {
    color: black!important;
}

.created-hobby-link {
    color: black!important;
}

#large-badges-header, #small-badges-header {
    font-size: 2em;
}

/*Friends List*/

#large-friends-list, #small-friends-list {
    font-family: 'Bungee', cursive;
}

#small-friends-list {
    font-family: 'Bungee', cursive;
}

.collection-item, .avatar {
    padding: 10px!important;
}

.small-friend-logo {
    width: 60px;
    height: auto;
}

.friend-info {
    display: inline-block;
}

span {
    color: black!important;
}
