body{
    margin: 0;
    padding: 0;
    font-family: 'Bungee', cursive;
    background-color: floralwhite;
}

html {

}

.tool{
    padding: 5px;
    height: 95vh;
    border-radius: 5px;
    border: 1px solid black;
}

#interested, #learning, #hobbyist{
    border: 1px solid black;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
}

.rotate {

    transform: rotate(-90deg);
    margin-top: 350px;
    color: white;

}

.ease {
    transition: all 1s ease;
}

.content{
    height: 100%;
    overflow: auto;
}

.title {
    font-family: 'Bungee Shade', cursive;
    font-size: 3em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

p {
    font-size: 1.5em;
    margin: 0!important;
}

.button-style {
    font-family: 'Bungee', cursive;
    color: white!important;
    background-color: black!important;
    padding: 0 10px!important;
    margin-bottom: 10px;
}