<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Hobbyist</title>
</head>
<body>




<!--<div th:each ="user :${users}" sec:authorize ="!isAnonymous()">-->
<!--<a th:href="@{/profile/{username}(username=${user.username})}"><button>Profile</button></a>-->
<!--</div>-->



<!--    if authenticated-->
<!--<div sec:authorize ="isAuthenticated()" >-->
<!--    <a th:href="${'/profile/' + user.id}">-->
<!--        <button class="btn btn-outline-info">Profile</button>-->
<!--    </a>-->
<!--</div>-->

    <h1>The Future Home of Hobbyist</h1>
<!--  test search engine  -->
<!--    Search:-->
<!--    <form action="/search">-->
<!--        <input type="text" name="term" placeholder="Search Hobbie">-->
<!--        <button>Search</button>-->
<!--    </form>-->


<!--  display hobbies by category 1 -->
    <div th:each="c : ${c1}">
        <h1 th:text="${c.title}"></h1>
        <p th:text="${c.description}"></p>
        <h1 th:text="${c.approved}"></h1>
        <h1 th:text="${c.category.name}"></h1>
        <p th:text="${c.createdBy.username}"></p>
        <p th:text="${c.createdBy.admin}"></p>
    </div>
    <hr>
    <!--  display hobbies by category 2 -->
    <div th:each="category : ${c2}">
        <h1 th:text="${category.title}"></h1>
        <p th:text="${category.description}"></p>
        <h2 th:text="${category.approved}"></h2>
        <h3 th:text="${category.category.name}"></h3>
        <p th:text="${category.createdBy.username}"></p>
        <p th:text="${category.createdBy.admin}"></p>
    </div>
    <hr>
    <!--  display hobbies by category 3 -->
    <div th:each="category : ${c3}">
        <h1 th:text="${category.title}"></h1>
        <p th:text="${category.description}"></p>
        <h2 th:text="${category.approved}"></h2>
        <h3 th:text="${category.category.name}"></h3>
        <p th:text="${category.createdBy.username}"></p>
        <p th:text="${category.createdBy.admin}"></p>
    </div>
    <hr>
</body>
</html>