<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('About Us')">
    <meta charset="UTF-8"/>
    <link th:href="@{/css/about-us.css}" rel="stylesheet" type="text/css">

</head>
<body>
<!--Small About Us-->

<div id="small-about-us">


</div>

<!--Large About Us-->

<div id="large-about-us">
    <div id="large-team-members">

        <div id="person1"><img class="large-photo" src="../../static/img/moriah-transparent.png" alt="Moriah Humphries"
                               th:src="@{img/moriah-transparent.png}"/>
            <div class="large-about-text center-align">
                <h5 class="names">Moriah</h5>
                <h5 class="names"> Humphries</h5>

                <a href="#" target="_blank"><i class="fab fa-linkedin icons fa-3x"></i></a>
                <a href="#" target="_blank"><i class="fab fa-github-square icons fa-3x"></i></a>
                <a href="#" target="_blank"><i class="fas fa-user-graduate icons fa-3x"></i></a>
            </div>
        </div>
        <div id="person2"><img class="large-photo" src="../../static/img/val-transparent.png" alt="Valeria Meza"
                               th:src="@{img/val-transparent.png}"/>
            <div class="large-about-text center-align">
                <h5 class="names">Valeria</h5>
                <h5 class="names">Meza</h5>

                <a href="#" target="_blank"><i class="fab fa-linkedin icons fa-3x"></i></a>
                <a href="#" target="_blank"><i class="fab fa-github-square icons fa-3x"></i></a>
                <a href="#" target="_blank"><i class="fas fa-user-graduate icons fa-3x"></i></a>
            </div>
        </div>
        <div id="person3"><img class="large-photo" src="../../static/img/nayoung-frame.png" alt="Nayoung Kim"
                               th:src="@{img/nayoung-transparent.png}"/>
            <div class="large-about-text center-align">
                <h5 class="names">Nayoung</h5>
                <h5 class="names">Kim</h5>

                <a href="https://www.linkedin.com/in/nayoungkimpak/" target="_blank"><i class="fab fa-linkedin icons fa-3x"></i></a>
                <a href="https://github.com/nayokim" target="_blank"><i class="fab fa-github-square icons fa-3x"></i></a>
                <a href="https://alumni.codeup.com/students/827" target="_blank"><i class="fas fa-user-graduate icons fa-3x"></i></a>
            </div>
        </div>
        <div id="person4"><img class="large-photo" src="../../static/img/jacob-transparent.png" alt="Jacob Hensley"
                               th:src="@{img/jacob-transparent.png}"/>
            <div class="large-about-text center-align">
                <h5 class="names">Jacob</h5>
                <h5 class="names">Hensley</h5>


                <a href="#" target="_blank"><i class="fab fa-linkedin icons fa-3x"></i></a>
                <a href="#" target="_blank"><i class="fab fa-github-square icons fa-3x"></i></a>
                <a href="#" target="_blank"><i class="fas fa-user-graduate icons fa-3x"></i></a>
            </div>
        </div>
    </div>
    <div id="large--logo-container">
        <img id="large-logo" class="center-align" src="../../static/img/hobbyist-transparent.png" alt="badge"
             th:src="@{img/hobbyist-transparent.png}"/>
    </div>

</div>

</body>
</html>