<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('About Us')">
    <meta charset="UTF-8"/>
</head>
<body>
<!--Small About Us-->

<div id="small-about-us">


</div>

<!--Large About Us-->

<div id="large-about-us">
    <div id="large-team-members">

        <div id="person1"><img class="large-photo" src="../../static/img/moriah-2.png" alt="Moriah Humphries"
                               th:src="@{img/moriah-2.png}"/>
            <div class="large-about-text center-align">
                <h5>Moriah Humphries</h5>
                <a href="#" target="_blank">LinkedIn</a>
                <a href="#">Alumni Profile</a>
                <a href="#">Github</a>
            </div>
        </div>
        <div id="person2"><img class="large-photo" src="../../static/img/val.png" alt="Valeria Meza"
                               th:src="@{img/val.png}"/>
            <div class="large-about-text center-align">
                <h5>Valeria Meza</h5>
                <a href="#" target="_blank">LinkedIn</a>
                <a href="#">Alumni Profile</a>
                <a href="#">Github</a>
            </div>
        </div>
        <div id="person3"><img class="large-photo" src="../../static/img/nayoung.png" alt="Nayoung Kim"
                               th:src="@{img/nayoung.png}"/>
            <div class="large-about-text center-align">
                <h5>Nayoung Kim</h5>
                <a href="#" target="_blank">LinkedIn</a>
                <a href="#">Alumni Profile</a>
                <a href="#">Github</a>
            </div>
        </div>
        <div id="person4"><img class="large-photo" src="../../static/img/jacob.png" alt="Jacob Hensley"
                               th:src="@{img/jacob.png}"/>
            <div class="large-about-text center-align">
                <h5>Jacob Hensley</h5>
                <a href="#" target="_blank">LinkedIn</a>
                <a href="#">Alumni Profile</a>
                <a href="#">Github</a>
            </div>
        </div>
    </div>
    <div id="large--logo-container">
        <img id="large-logo" class="center-align" src="../../static/img/hobbyist-transparent.png" alt="badge"
             th:src="@{img/hobbyist-transparent.png}"/>
    </div>

</div>

</body>
</html>