<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/hobby/create}" th:method="POST" th:object="${hobby}">
    Title:
    <input th:field="*{title}">
    Body:
    <input th:field="*{description}">

    <label>Category: </label>
    <div id="categories" th:each="c : ${categories}">
        <label>
            <input name="categories" type="checkbox" th:value="${c.id}" th:text="${c.name}"/>
        </label>
    </div>
    Upload Image
    <input th:field="*{image}">
    <button class="btn btn-primary">Submit</button>
</form>
</body>
</html>