<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1 th:text="${hobby.title}"></h1>
    <h2 th:text="${hobby.description}"></h2>
    <h2 th:text="${hobby.image}"></h2>
    <h3 th:each="c : ${hobby.categories}">Category <span th:text="${c.name}"></span></h3>
    <h3>Created by: <span th:text="${hobby.createdBy.username}"></span></h3>
    <button th:href="'/hobby/'+ ${hobby.id +'/edit'}">Edit</button>
    <button th:href="'/hobby/'+ ${hobby.id +'/delete'}">Delete</button>
</div>
</body>
</html>