<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:each="h : ${hobby}">
        <p th:text="${h.id}"></p>
        <p th:text="${h.title}"></p>
        <p th:text="${h.description}"></p>
        <p th:text="${h.images}"></p>
        <p th:text="${h.category.name}"></p>
<!--    need to loop over each hobby rating    -->
        <p th:each="r : ${h.hobbyRating}">
            <span th:text="${r.difficulty}"></span>
            <span th:text="${r.price}"></span>
            <span th:text="${r.overallRating}"></span>
            <span th:text="${r.patience}"></span>
        </p>
        <p th:text="${h.approved}"></p>
        <p th:text="${h.createdBy.username}"></p>
    </h1>
</body>
</html>